@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.logo {
    color: #232323;
    transition: all .3s ease-in-out;
}

.logo-light {
    color: #f9f7f7;
}

.link {
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}
.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: all .3s ease-in-out;
}
.link:hover::after {
    width: 100%;
    background: #ffffff;
}

.link-dark {
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #232323;
    text-decoration: none;
}
.link-dark::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: all .3s ease-in-out;
}
.link-dark:hover::after {
    width: 100%;
    background: #232323;
}

:root {
    --index: calc(1vw + 1vh);
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}
@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

body {
    background: #e4e4e4;
    font-family: raleway_f, sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    /* backdrop-filter: blur(10px); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    padding: 10px;
}

.main-header {
    position: relative;
}
/* .main-header::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index)*5);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(315deg, #c0bebe, #e4e2e2);
    box-shadow:  -35px -35px 70px #555454,
             35px 35px 70px #ffffff;
    bottom: calc(var(--index)* -2);
} */
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layer {
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
}

.layers_base {
    position: absolute;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(315deg, #c0bebe, #e4e2e2);
    box-shadow:  -35px -35px 70px #555454,
             35px 35px 70px #ffffff;
    bottom: calc(var(--index)* 0);
    z-index: 100;
}

.layers_middle {
    transform: translate3d(0, calc(var(--scrollTop)/2.5),0);
    width: 40%;
    background: #ffffff;
    border-radius: 20px;
    left: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    border-radius: 50px;
    background: #f9f7f7;
    box-shadow:  29px 29px 57px #b2b2b2,
             -29px -29px 57px #ffffff;
}

.layers_front {
    transform: translate3d(0, calc(var(--scrollTop)/5.7),0);
    width: 50%;
    height: 90%;
    bottom: 0;
    right: 0;
}

h1 {
    font-weight: 900;
    font-size: calc(var(--index)*2);
    will-change: transform;
    color: #232323;
    text-align: start;
}

.title {
    text-align: center;
}
.text {
    text-align: center;
}

.main-article {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
}

.main {
    background: #232323;
    color: #f9f7f7;
}

.main-full {
    background: #232323;
    color: #f9f7f7;
    height: 100vh;
}

.auth-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid #9c9c9c;
    border-radius: 30px;
    padding: 30px;
}

.container {
    max-width: 1250px;
    height: auto;
    margin: 0 auto;
    padding: 100px 0;
}
.dropdown-menu {
    cursor: pointer;
    z-index: 20;
}

.dropdown-menu__svg {
    fill: #232323;
    transition: all .3s ease-in-out;
}

.dropdown-menu__svg-light {
    fill: #f9f7f7 !important;
}

.auth-reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-body {
    width: 40%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ffffff66;
    background: #ffffff05;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 100px #aeaa575b;
    transition: all .5s ease-in-out;
}

.input_field {
    padding: 10px;
    font-size: 20px;
    color: #232323;
    background: none;
    border: 2px solid #ffffff16;
    border-radius: 10px;
    color: #fdfbd9;
}

.button {
    color: #fdfbd9;
    background: #2b7c00;
    padding: 10px;
    font-size: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid #ffffff16;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.main-body:hover {
    box-shadow: 0 0 200px #aeaa575b;
}

.worker-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 30px;
    transition: all .3s ease-in-out;
}

.worker-item:hover:not(:focus-visible) {
    border: 1px solid #f9f7f7;
    background: #555454;
    transform: translateY(-5px);
}

.worker-item img {
    width: 20%;
}

.menu {
    z-index: 10;
    position: fixed;
    top: 0;
    right: -50%;
    width: 40%;
    height: 100%;
    padding: 60px;
    background: #2323232a;
    backdrop-filter: blur(10px);
    transition: all .8s ease-in-out;
    box-shadow: 0 0 50px #9c9c9c;
}

.menu__body {
    transform: translateY(-10px);
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .8s ease-in-out ;
}

.best-workers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.workers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.worker-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    padding: 20px 0;
}

.worker-sm:hover:not(:focus-visible) {
    background: #555454;
    border: 1px solid #b2b2b2;
    border-radius: 30px;
    transform: translateY(-5px);
}

.worker-sm__img {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: #555454;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.worker-sm__img img {
    width: 100%;
}

.worker-sm__title {
    font-size: 20px;
}

.worker-sm__desc {
    font-size: 15px;
    max-width: 70%;
    text-align: center;
}

.form-order-bg {
    background-image: url('/img/form-order-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-order {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
    border-radius: 50px;
}


.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-workers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
